@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url(components.css);

.bgForm {
  display: none;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 80vw;
  margin-left: 20vw;
  background-color: #07142c98;
  backdrop-filter: blur(5px);
  animation: aparecer 1s;
}
.bgFormEditar {
  display: none;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 80vw;
  margin-left: 20vw;
  background-color: #07142c98;
  backdrop-filter: blur(5px);
  animation: aparecer 1s;
}
@keyframes aparecer{
  from{
    transform: translateY(-20px);
    opacity: 0;
  } to{
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes desaparecer{
  from{
    transform: translateY(0px);
    opacity: 1;
  } to{
    transform: translateY(-20px);
    opacity: 0;
  }
}
.formUsuario {
  display: flex;
  width: auto;
  height: auto;
  background-color: #262B3C;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  flex-direction: column;
  border-radius: 20px;
  padding: 2vw;
  border: solid 3px #3A3F58;
}

#div_form_parte1{
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

#div_form_parte2{
  display: none;
  flex-direction: column;
  gap: 4vh;
}
#form_colunas{
  display: flex;
  gap: 1vw;
}
#coluna1_form, #coluna2_form{
  display: flex;
  flex-direction: column;
}
.fechar{
  color: #fff;
  align-self: flex-end;
  margin-right: 10px;
  font-size: 25px;
  cursor: pointer;
}

.fechar:hover{
  color: red;
}

.tituloForm {
  font-size: 2vw;
  font-weight: bold;
}

.input {
  width: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.input input {
  width: auto;
  border: none;
  border-radius: 10px;
  height: 7vh;
  font-size: 1.2vw;
  padding: 10px;
  border: #3A3F58 3px solid;
  background-color: #494f78;
  color: #FFF
}

.input span {
  font-size: 1.6vw;
  align-self: flex-start;
  /* text-justify: center; */
}

.select-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 5%;
}
.select-container span {
  width: auto;
  height: auto;
  
}

select {
  border: #3A3F58 3px solid;
  width: 100%;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
  background: #494f78;
  color: #fff
}

.buttonCadastrar {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonCadastrar #botaoCadastro, .buttonCadastrar #botaoCadastro2{
  display: flex;
  height: auto;
  width: auto;
  padding: 1vw;
  font-size: 1.3vw;
  border-radius: 10px;
  border: none;
  background-color: #008573;
  color: #ffffff;
  font-weight: 800;
  cursor: pointer;
}
/* .buttonCadastrar #botaoCadastro2 {
  display: none;
  height: 100%;
  width: 30%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #008573;
  color: #ffffff;
  font-weight: 800;
} */

#erros_cadastro_usuario{
  display: none;
  width: 20vw;
}
.buttonCadastrar button:hover {
  background-color: #052f7d;
  transition: 0.5;
}

#form_parte2{
  display: none;
}
/* 
@media screen and (max-width: 1200px) {
  .container-menu {
    width: 30%;
  }
  .container-central {
    width: 70%;
    display: flex;
  }
}

@media screen and (max-width: 992px) {
  .container-menu {
    width: 30%;
  }
  .container-central {
    width: 70%;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .container-menu {
    width: 35%;
  }
  .container-central {
    width: 65%;
  }
}

@media screen and (max-width: 600px) {
  .container-menu {
    width: 35% !important;
  }
  .container-central {
    display: 65% !important;
  }
  .container-maquina {
    height: 85%;
  }
} */
