

.container-main {
  display: flex;
}

.mainContent {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container-title p {
  font-size: 3vw;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.container-title {
  margin-top: 5vh;
  width: auto;
  text-align: center;
}

.container-text {
  color: #2e2e2eab;
}

.btn-cadastro {
  background-color: #0e2144;
  color: #fff9ab;
  padding: 2vh 3vw;
  border-radius: 10px;
  border: none;
  font-size: 1.5vw;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn-cadastro:hover {
  cursor: pointer;
  background-color: #1e2868;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(1rem);
  }
}

.containerEsteiras {
  width: 75vw;
  height: 65vh;
  margin-bottom: 10px;
  margin-left: 1vw;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 10px;
  overflow-y: auto;
  background-color: #0e2144;
  scrollbar-color: grey transparent;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.containerEsteiras h6 {
  font-size: 30px;
}

.containerFiltro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

ul {
  list-style: none;
}

hr {
  border: none;
  border-top: 2px solid #2c2c2cc0;
  width: 95%;
}

.hidden {
  transition: 0.2s;
}

.container-aviso {
  width: fit-content;
  height: fit-content;
  margin: 0;
  text-align: start;
}

.area_bg_modal {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #000000c0;
}
#modal_1 {
  display: flex;
  position: absolute;
  top: 10vh;
  z-index: 10;
  background-color: #d9d9d9;
  border-radius: 3vh;
  animation: fadeIn 0.5s both;
}

.area_bg_modal2 {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #000000c0;
}
#modal_2 {
  display: flex;
  position: absolute;
  top: 10vh;
  z-index: 10;
  left: 45vw;
  background-color: #d9d9d9;
  border-radius: 3vh;
  padding: 4vh;
  animation: fadeIn 0.5s both;
}

#tabelaFuncionarios {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #fff9ab;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 8px;
  text-align: left;
}

.tableIcons {
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}

th {
  background-color: #0e2144;
}

.tableIcons i:hover {
  transition: 0.2s;
  color: #ffc228;
}

