@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* Aumentar o texto do footer na página normal e o texto em amarelo nas páginas responsivas */

:root {
  --tamanho-header: 80px;
  --tamanho-footer: 65px;
}

html {
  height: 100vh;
}

/* #0A0E27 */
/* #23283ad4 */

body {
  background-color: #f2f3f7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
  font-family: "Ubuntu", serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

a {
  text-decoration: none;
  color: #23283a;
}

.header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  color: #23283a;
  margin-left: 5%;
  height: 10%;
}

.nav-bar {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: medium solid #23283a;
}

.lista-nav {
  list-style-type: none;
  color: #23283a;
  font-weight: 800;
  font-family: inherit;
  display: flex;
  text-align: center;
  column-gap: 3em;
  margin-bottom: 0;
}

.lista-nav a:hover {
  color: #00c2a8;
  cursor: pointer;
}

.contato {
  background-color: #00c2a8;
  border-radius: 20px;
  height: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding: 0px 10px 0px 10px;
  color: white;
}

.container-menu {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.menu {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #cfd4e0;
  box-shadow: 0 4px 8px #00000033;
  width: 30%;
  height: 80%;
}

.menu h3 {
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu h4 {
  margin: 0;
  font-size: 25px;
  color: #00c2a8;
}

.msgErro {
  display: flex;
  justify-content: center;
  color: rgb(165, 108, 108);
}

.menu h4:hover {
  color: aquamarine;
}

.menu input {
  border: none;
  border-radius: 15px;
  border: 1px solid #cfd4e0;
  box-shadow: 0 4px 8px #00000033;
  width: 100%;
  height: 100%;
}

.menu button {
  height: 11%;
  color: white;
  width: 50%;
  border-radius: 30px;
  font-size: 20px;
  border: 2px solid #cfd4e0;
  box-shadow: 0 4px 8px #00000033;
  font-weight: 1000;
  background-color: #23283a;
}

.menu button:hover {
  background-color: #00c2a8;
  cursor: pointer;
}

.logo {
  width: 7%;
}

.inputs {
  width: 70%;
  height: 10%;
  /* font-size: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100%;
}

.footer {
  background-color: #23283a;
  min-height: 10%;
  color: #fff;
  display: flex;
  font-size: 32px;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .menu {
    width: 60%;
  }

  .menu h4 {
    text-align: center;
    font-size: 25px;
  }

  .footer h4 {
    font-size: 30px;
  }

  /* .logo {
    width: 15%;
  } */
}

@media screen and (max-width: 992px) {
  .menu {
    width: 65%;
  }

  .menu h4 {
    text-align: center;
    font-size: 25px;
  }

  .footer h4 {
    font-size: 30px;
  }

  .logo {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    width: 65%;
  }

  .menu h4 {
    text-align: center;
    font-size: 25px;
  }

  .footer h4 {
    font-size: 30px;
  }

  .logo {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    width: 80%;
  }

  .menu h4 {
    text-align: center;
    font-size: 25px;
  }

  .footer h4 {
    font-size: 30px;
  }

  .logo {
    width: 20%;
  }
}
