
#sistema_modais{
    display: flex;
    background-color: transparent;
    height: auto;
    width: auto;
    z-index: 20;
}
.container_perfil{
    width: 12vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4vh;
    right: 4vw;
    gap: 0.7vw;
    /* background-color: #ffc228; */

}
@keyframes aparecer{
    from{
      transform: translateY(-20px);
      opacity: 0;
    } to{
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes desaparecer{
    from{
      transform: translateY(0px);
      opacity: 1;
    } to{
      transform: translateY(-20px);
      opacity: 0;
    }
  }

.container_tabela_notificacoes {
    display: none;
    max-height: 50vh;
    width: auto;
    padding: 0;
    position: absolute;
    z-index: 20;
    top: 12vh;
    right: 11vw;
    background-color: #3B3E58;
    border-radius: 8px;
    border: 2px solid #3B3E58;
    overflow: hidden;
}

.wrapper {
    max-height: 100%;
    width: auto;
    overflow-y: auto;
    scrollbar-color: #4b517b transparent;
}

.wrapper span {
    display: block;
    width: 28vw;
    padding: 1vW;
    background-color: #333c5c;
}
.wrapper span:hover{
    background-color: #464a56;
}

/* .container_tabela_notificacoes span:hover{
    background-color: #0aa3a9;
    cursor: pointer;
} */
.container_perfil_opcoes{
    display: none;
    width: auto;
    height: auto;
    padding: 4px 0;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 12vh;
    right: 5vw;
    background-color: #3B3E58;
    border-radius: 8px;
    border: 2px solid #3B3E58;
}
.container_perfil_opcoes span{
    width: auto;
    height: auto;
    padding: 14px 84px 14px 14px; 
    background-color: #333c5c;
}
.container_perfil_opcoes span:hover{
    background-color: #0aa3a9;
    cursor: pointer;
}

.barraVertical{
    height: 3vh;
    width: 0.1vh;
    border: solid #00C2A8;
    border-left-width: 0.5vh;
}
.button_perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    gap: 0.6vw;
    cursor: pointer;
}
.container_perfil .fa-solid{
    text-decoration: none;
    color: #00C2A8;
    font-size: 3vw;
  }
  .container_perfil .fa-chevron-down{
    text-decoration: none;
    color: #00C2A8;
    font-size: 1.5vw;
  }
.button_perfil:hover .fa-solid{
    color: #008f7c;
}
.container_perfil .fa-bell:hover{
    color: #008f7c;
    cursor: pointer;
    z-index: 1;
}

.bg_modal_perfil_analista{
  display: none;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  z-index: 30;
  height: 100vh;
  width: 79vw;
  margin-left: 20vw;
  font-weight: 500;
  background-color: #07142c98;
  backdrop-filter: blur(5px);
  animation: aparecer 1s;
}
.bg_modal_perfil_completo{
    display: none;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    height: 100vh;
    width: 100vw;
    /* margin-left: 5vw; */
    font-weight: 500;
    background-color: #07142c98;
    backdrop-filter: blur(5px);
    animation: aparecer 1s;
  }
.container_perfil_completo{
    display: flex;
    width: auto;
    height: auto;
    background-color: #262B3C;
    color: #FFF;
    justify-content: center;
    gap: 2%;
    padding: 4vh 2vw;
    flex-direction: column;
    border-radius: 20px;
    font-size: 1.2vw;
    border: solid 3px #3A3F58;
}
.perfil_conteudo{
    display: flex;
    gap: 2vw;
}
.div_informacoes{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
    /* background-color: aqua; */
}
.perfil_conteudo i{
    font-size: 8vw;
}
.spn_perfil_nome{
    font-size: 1.5vw;
}
.spn_perfil{
    /* background-color: #5ec200; */
    text-align: start;
}
.btn_fechar_perfil{
    align-self: center;
    text-align: center;
    background-color: #00C2A8;
    border-radius: 1vw;
    font-size: 1.5vw;
    color: #F0F0F0;
    width: 10vw;
    margin: 3vh 0vw 0vh 0vw;
    padding: 2vh 0vw;
    cursor: pointer;
    font-weight: 700;
}
.modal_datacenters{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    border-radius: 2vw;
    
}
.opcao_datacenter{
    padding: 2vw;
    width: 24vw;
    max-width: 24vw;
    background-color: #45507a;
    font-size: 1.2vw;
    color: #F0F0F0;
    font-weight: 800;
    cursor: pointer;
}
.opcao_datacenter:hover{
    padding: 2vw;
    background-color: #3a4288;
    font-weight: 800;
    font-size: 1.3vw;
}
.selecionado{
    background-color: #2e3552;
}
.selecionado:hover{
    background-color: #232f60;

}